

.container{
    display: flex;
    position:fixed;
    top:0;
    width: 100%;
    height:5rem;
    align-items: center;
    z-index: 999;
    background-color: var(--var1);
}

.navitems{
    color: white;
    font-weight: 400;
    display: flex;
    list-style: none;
    font-size: 1.2rem;
    font-weight: 900;
}

.navitems li{
    margin: 0 1rem;
    text-decoration: none;

}

.navitems li:hover{
    cursor: pointer;
}

.menuicon{
    position:fixed;
    left: 1rem;
    fill:white;
    display: none;
    cursor: pointer;
}

.logo{
    position:absolute;
    right: 2rem;
}



@media only screen and (max-width: 540px){
    .navitems{
        transform: translateY(7.1rem);
        background-color: var(--var5);
        width: 100vw;
        gap: 1rem;
        flex-direction: column;
        padding: 1rem 0;
        opacity: 0.9 ;
        
    }

    .menuicon{
        display: block;
    }

    .navitems.closed{
        display: none;
    }
    
}